.assignment-modal-overlay{

    position:fixed;
    inset:0;

    background:rgba(0,0,0,.45);

    display:flex;

    justify-content:center;

    align-items:center;

    z-index:999;

}

.assignment-modal{

    width:520px;

    background:white;

    border-radius:12px;

    padding:30px;

    box-shadow:0 10px 30px rgba(0,0,0,.2);

}

.assignment-modal h2{

    margin-bottom:25px;

}

.modal-group{

    display:flex;

    flex-direction:column;

    margin-bottom:18px;

}

.modal-group label{

    font-weight:600;

    margin-bottom:8px;

}

.modal-group input{

    padding:10px;

    border:1px solid #ddd;

    border-radius:6px;

}

.modal-buttons{

    display:flex;

    justify-content:flex-end;

    gap:10px;

    margin-top:20px;

}
.assignment-error{

    background:#FEF2F2;

    border:1px solid #FCA5A5;

    color:#991B1B;

    padding:14px;

    border-radius:8px;

    margin-bottom:18px;

}

.assignment-error strong{

    display:block;

    margin-bottom:6px;

    font-size:15px;

}

.assignment-error p{

    margin:0;

    line-height:1.5;

}
/* Selected Option */
.react-select__option--is-selected {

    background-color: #dbeafe !important;

    color: #111827 !important;

}

/* Employee Name */
.react-select__option--is-selected strong {

    color: #111827 !important;

}

/* Role & Location */
.react-select__option--is-selected div {

    color: #4b5563 !important;

}

/* Hover */
.react-select__option--is-focused {

    background-color: #eff6ff !important;

    color: #111827 !important;

}

.react-select__option--is-focused strong {

    color: #111827 !important;

}
/* Selected value container */
.react-select__value-container{

    padding: 8px 14px !important;

}

/* Entire control */
.react-select__control{

    min-height: 64px !important;

    border-radius: 8px !important;

}

/* Placeholder */
.react-select__placeholder{

    margin-left: 2px;

}

/* Selected value */
.react-select__single-value{

    margin-left: 2px;

}