/* ===========================
   Dashboard Layout
=========================== */

.layout {
    display: flex;
    min-height: 100vh;
    background: var(--background);
}

/* ===========================
   Sidebar
=========================== */

.sidebar {
    width: 260px;
    background: #111827;
    color: white;

    display: flex;
    flex-direction: column;

    position: fixed;
    left: 0;
    top: 0;

    height: 100vh;
}

.sidebar-logo{

    display:flex;

    flex-direction:column;

    align-items:flex-start;

    padding:28px 24px;

    border-bottom:1px solid rgba(255,255,255,.08);

}
.sidebar-title{

    font-size:2rem;

    font-weight:800;

    color:#fff;

    letter-spacing:.5px;

    margin:0 0 12px 0;

}

.sidebar-logo-img{

    width:175px;
    margin-left:-6px;
    height:auto;

    display:block;

    object-fit:contain;

}
.sidebar-nav {

    display: flex;

    flex-direction: column;

    gap: 8px;

    padding: 24px 14px;

    flex: 1;

}

.sidebar-nav a {

    color: #cbd5e1;

    padding: 14px 16px;

    border-radius: 10px;

    transition: .25s;

    font-weight: 500;

}

.sidebar-nav a:hover {

    background: rgba(255,255,255,.08);

    color: white;

}

.sidebar-nav a.active {

    background: var(--primary);

    color: white;

}

.logout-btn {

    margin: 18px;

    padding: 14px;

    border: none;

    border-radius: 10px;

    background:linear-gradient(
            135deg,
            #f6a79b 0%,
            #d54e4e 42%,
            #e10e0e 100%
        );

    color: white;

    cursor: pointer;

    transition: .25s;

}

.logout-btn:hover {

    background: linear-gradient(
            135deg,
            #f5aea3 0%,
            #fc3a3a 42%,
            #ff0000 100%
        );

}

/* ===========================
   Content
=========================== */

.content {
    flex: 1;
    min-width: 0;
    width: calc(100% - 260px);
    margin-left: 260px;

    display: flex;
    flex-direction: column;

    overflow-x: hidden;
}

.navbar {

    height: 75px;

    background: linear-gradient(
            135deg,#9eabd5 0%,
            #d6e1f0 42%,
            #ffffff 100%
        );

    display: flex;

    align-items: center;

    justify-content: space-between;

    padding: 0 35px;

    border-bottom: none;

}

.page {
    padding: 35px;
    min-width: 0;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}
/* ==========================================
   RESPONSIVE LAYOUT
========================================== */

@media (max-width: 1200px) {

    .page {
        padding: 28px;
    }

    .navbar {
        padding: 0 28px;
    }

}

@media (max-width: 900px) {

    .page {
        padding: 22px;
    }

    .navbar {
        padding: 0 22px;
    }

}

@media (max-width: 768px) {

    .page {
        padding: 16px;
    }

    .navbar {
        height: auto;
        min-height: 65px;
        padding: 14px 16px;
        gap: 10px;
    }

}